<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>BitCoin Value Finder</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">BitCoin Value Tracker</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">BitCoin History</a></li>
        <li><a href="#">Your Past Transactions</a></li>
      </ul>
    </div>
  </nav>

  {{{body}}}

   <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">                
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">This App was created with the help of the Coindesk API.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Creators:</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/MelvynLing">Melvyn Ling</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/c-rter">Carter Lawson</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/rajssandhu">Rajvinder Sandhu</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/thisiscodingnow">Nitin Mascreen</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
  duration: 1200,
})
</script>

       
</html>
