<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>BitCoin Value Tracker</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">BitCoin Value Tracker</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://en.wikipedia.org/wiki/History_of_bitcoin">BitCoin History</a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </nav>

  {{{body}}}

   <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">                
                <h5 class="white-text">APIs</h5>
                <p class="grey-text text-lighten-4">This App was created with the help of the <a href="https://www.coindesk.com/price/">Coindesk API.</a></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Creators:</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/MelvynLing">Melvyn Ling</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/c-rter">Carter Lawson</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/rajssandhu">Rajvinder Sandhu</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/thisiscodingnow">Nitin Mascreen</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</body>

<script src="/js/index.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
  duration: 1200,
})
</script>
<script>
  function validate(){
    if(document.btcForm.initialAmount.value == "")
    {
      alert("Please enter a Canadian Dollar Amount!");
      document.btcForm.initialAmount.focus();
      return false;
    }
    if(document.btcForm.entryDate.value == "")
    {
      alert("Please enter a date after 2010-07-17!");
      document.btcForm.entryDate.focus();
      return false;
    } 
    if(document.btcForm.exitDate.value == "")
    {
      alert("Please enter a date before today!");
      document.btcForm.exitDate.focus();
      return false;
    }
    return(true);
  }
</script>

</html>
