.list-group-item {
  line-height: 2.5;
}

body {
  background-image: linear-gradient(to right top, #ffe8bc, #ffe7d5, #ffedf0, #fff7ff, #ffffff);;
}

.cards {
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 2px;
}

.nav-wrapper {
  background-color: #000033; 

}

.imgnlp{
  border: 1px solid black;
  border-radius: 2px;
}

.page-footer{
  background-color: #000033; 
}

.footer-copyright {
  background-color: black;
}

  /* label color */
   .input-field label {
     color: red;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color:red !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
}